* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
   padding: 0%;
}

.border:hover {
    border: 2px solid white;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* box-1 */
.logo {
    height: 50px;
    width: 120px;
    align-items: center;


}

.nav-logo {
    height: 50px;
    background-image: url(image/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 15px;
}

av-logo {
    border: transparent;
}

/* box-2 */
.location {
    color: white;
    display: flex;

}

.map {
    width: 70px;
    align-items: center;
}

.nav-2 {
    font-size: 1rem;
    font-weight: 700;
    padding-left: 5px;
}

.nav-1 {
    font-size: 0.8rem;
    padding-left: 15px;
}

/* box-3 */
.search {
    width: 550px;
    height: 40px;
    display: flex;
    display: flex;


}

.search:hover {
    border: 2px solid orange;
    border-radius: 4px;
}

.select {
    height: 40px;
    background-color: #f3f3f3;
    align-items: center;
    padding-left: 2px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.input {
    width: 100%;
    font-size: 0.9rem;
}

.search-logo {
    width: 40px;
    font-size: 0.9rem;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;


}

/* box-4 */
.acc {
    width: 120px;

}

.acc1 {
    font-size: 0.8rem;
}

.acc2 {
    font-weight: 700;
    font-size: 0.9rem;
}

.cart {
    height: 40px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

/* panal box-5 */

.panal {
    height: 60px;
    background-color: #333f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.panal a {
    display: inline;

}

.panal-shop {
    font-size: 0.9rem;
    font-weight: 700;
}

.panal-ops {
    width: 70%;
    font-size: 0.85rem;

}

.panal-ops a {
    padding-right: 15px;
}

/* HeroSection */

.hero-section {
    height: 300px;
    background-image: url(image/banner.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-mas {
    background-color: whitesmoke;
    color: black;
    height: 40px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    margin-bottom: 20px;

}

.hero-mas a {
    color: #007185;
    margin-left: 5px;
    text-decoration: none;
}

/* shoping section */
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(235, 215, 232, 0.829);
}

.box {
    height: 250px;
    width: 23%;
    background-color: azure;
    padding: 20px 0px 30px;
    margin-top: 10px;
    margin-left: 15px;


}

.box-img {
    height: 180px;
    width: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
}

.box-content {
    margin-left: 15px;

}

.box-content p {
    color: #007185;
    margin-top: 30px;
}

/* footer */
footer {
    margin-top: 10px;
}

.foot-panel {
    background-color: #37475a;
    color: #f3f3f3;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.foot-panel a {
    color: #f3f3f3;
    text-decoration: none;
}

/* foot panel 2 */

.foot-panel2 {
    background-color: #222f3d;
    color: #dddddd;
    height: 300px;
    display: flex;
    justify-content: space-evenly;

}

.foot-panel2 p {
    margin-top: 10px;
}

ul a {
    display: block;
    font-size: 0.8rem;
    margin-top: 10px;

}

.foot-panel3 {
    background-color: #222f3d;
    color: #dddddd;
    border-top: 0.3px solid white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flogo {
    background-image: url(image/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 100px;
    margin-top: 15px;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.pages {

    padding-top: 25px;
}

.copy {

    padding-top: 5px;
}